.main {
  &__line {
    z-index: 2;
    padding: 0;
    width: 100%;
    height: 76px;
    background-image: url("../images/line.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #cef564;

    @include mobile {
      height: 62px;
    }
  }

  &__title {
    margin: 120px auto;
    max-width: 550px;
    color: $secondInterColor;
    @include inter(500, 60px, 60px);

    @include mobile {
      @include inter(500, 20px, 24px);
      margin: 50px auto;
      max-width: 189px;
    }
  }
}
