.Samples {
  display: flex;
  padding: 60px 50px 60px 150px;
  background-color: #cef564;

  @include tablet {
    padding: 60px 34px 34px;
    display: block;
    margin: 0 50px;
  }

  @include mobile {
    padding: 20px 10px 10px;
    margin: 0 20px;
  }

  &__title {
    margin: 0;
    padding-top: 149px;
    max-width: 457px;
    @include inter(500, 60px, 65px);

    @include tablet {
      padding-top: 0;
      padding-left: 24px;
    }

    @include mobile {
      padding-left: 10px;
      @include inter(500, 20px, 24px);
    }

    color: $secondInterColor;
  }

  &__paragraph {
    margin: 0;
    padding-top: 48px;
    max-width: 457px;
    @include inter(400, 20px, 29px);

    @include tablet {
      padding-left: 24px;
      padding-bottom: 100px
    }

    @include mobile {
      @include inter(400, 14px, 19px);
      padding-top: 20px;
      padding-left: 10px;
      padding-bottom: 50px;
    }

    color: $secondInterColor;
  }
}
