.Soda {
  display: flex;
  overflow: hidden;
  margin: 0 180px 0 150px;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    margin: 0 auto;
    display: block;
  }

  &__title {
    margin-top: 190px;

    max-width: 460px;

    @include inter(500, 60px, 67px);

    @include tablet {
      text-align: center;
      margin: 120px auto 20px;
      margin-bottom: 30px;
    }

    @include mobile {
      @include inter(500, 20px, 24px);
      margin: 50px auto -8px;
    }

    color: $secondInterColor;
  }

  &__container {
    position: relative;
    bottom: -100px;
    margin-top: -30px;
    margin-right: 0;
    margin-left: auto;
    @include size (430px, 610px);

    @include tablet {
      margin: 0 auto;
      bottom: -90px;
    }

    @include mobile {
      @include size (280px, 397px);
      bottom: -58px;
    }

    background-image: url("../images/Soda.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__img {
    position: absolute;
    left: -129px;
    top: 22px;

    @include tablet {
      left: -115px;
      top: 6px;
    }

    @include mobile {
      @include size (125px, 125px);
      left: -5px;
      top: 176px;
    }
  }
}
